
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
}


#login-modal .modal-content {
    width: 80%;
    max-width: 400px;
}

#login-email,
#login-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    font-size: 16px;
}

#login-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#login-button:hover {
    background: #0056b3;
}

header {
    background: #424242;
    color: #fff;
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #007bff;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

nav a#cart-icon {
    display: flex;
    align-items: center;
}

nav a#cart-icon i {
    font-size: 24px;
}

nav a#cart-icon #cart-count {
    background: #ff5733;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    top: -5px;
    right: -10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main h2 {
    padding: 12px;
}

.product-section {
    flex: 1;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 5rem;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    padding: 5px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    font-size: 16px;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: 200px;
}

.product h2 {
    font-size: 12px;
    margin: 10px 0;
}

.product p {
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
    display: none;
}

.product .price {
    font-size: 18px;
    color: #007bff;
    margin: 10px 0;
}

.product button {
    background: #1eff0094;
    color: rgb(59, 59, 59);
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.product button:hover {
    background: #1eff00fb;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}

#checkout-button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
}

#checkout-button:hover {
    background: #218838;
}

#cep-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    transition: opacity 0.3s ease;
}

#cep-modal .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}

#cep-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    font-size: 16px;
}

#address-info {
    margin-top: 20px;
}

.cep-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cep-close:hover,
.cep-close:focus {
    color: #000;
    text-decoration: none;
}

#address {
    margin: 20px 0;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

.modal-content ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.modal-content li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content li:last-child {
    border-bottom: none;
}

.modal-content button {
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.modal-content button:hover {
    background: #c82333;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 15px;
    }
}
